<%- include('../Home/Header'); -%>
<%- include('../Home/navBar'); -%>

   <!-- Page Content  -->
      <div id="content" class="p-4 p-md-5 pt-5">

        <h2 class="mb-4">View Students</h2>

        
<div class="container" style="padding-top:55px">
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">DEPARTMENT</th>
      <th scope="col">VERIFICATION</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Accountant</td>
      <td><%=USER.ACCOUNTANT %></td>
    
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Dean</td>
      <td><%=USER.DEAN %></td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Head Of Department</td>
      <td><%=USER.HOD %></td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Library</td>
      <td><%=USER.LIBRARIAN %></td>
    </tr>
 <tr>
      <th scope="row">4</th>
      <td><b>OVERALL STATUS</b></td>
      <td><b><%=OVERALL %></b></td>
    </tr>
  </tbody>
</table>
</div>
        
        
          </div>
		</div>


<%- include('../Home/Footer'); -%>