<%- include('../../Home/Header'); -%>
<%- include('../../Home/navBar'); -%>


   <!-- Page Content  -->
      <div id="content" class="p-4 p-md-5 pt-5">

        <h2 class="mb-4">View Librarians</h2>
<%- include('searchLibrarians'); -%>
        
<div class="container" style="padding-top:55px">
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">USER</th>
      <th scope="col">REGISTRATION</th>
      <th scope="col">ROLE</th>

      
    </tr>
  </thead>
  <tbody>
   
    <% USER.forEach((USER) => { %>
    <tr>    
      <th scope="row"><%=USER.ID %></th>    
        <td><%=USER.USER %></td>
        <td><%=USER.REGISTRATION %></td>
        <td><b><%=USER.ROLE %></b></td>
        <td> 
          <button type="submit" class="btn btn-primary" action="/administrator_edit_librarians"> EDIT</button>
          <button type="submit" class="btn btn-primary" action="#"> D</button>
        </td>   
        <td> 
         
        </td>  
    </tr>
    <% }) %>


  </tbody>
</table>
</div>
        
        
          </div>
		</div>


<%- include('../../Home/Footer'); -%>